/* general - page title & ex number*/

.ex-{
  &parent {
    display: grid;
    place-items: center;
  }
  &foot {
    padding-top: 1rem;
    text-align: left;
  }
  &card {
    width: clamp(10rem, 50%, 50rem);
    display: flex;
    flex-direction: column;   
    background-color: #ffffff;
    /* exercise 1*/
    &__button {
      padding: 5rem;
      text-align: center;      
    }
    /* exercise 2*/
    &__hex {
      padding: 1rem;  
      font-size: 2rem;      
    }
    /* exercise 3*/
    &__word{
      font-size: 1rem;
    }  
    &__auth {
      text-align: right;  
      font-size: 0.7rem;      
    }
    /* exercise 4*/
    &__note {
      padding-top: 1rem;
    }
    &__message {
      padding-top:1rem;
      font-style: italic;
      color: red;
    }
    /* exercise 5*/
    &__counter {
      font-weight: bold;
      font-size: 1.3rem;
      color: navy;
    }
    &__count {
      font-size: 4rem;
    }
    /* exercise 6*/
    &__img {
      max-width: 300px;
      padding-bottom: 10px;  
    }
    /* exercise 7*/
    &__client {
      font-size: 2rem;
      font-weight: bold;
      color: rgb(56, 77, 56);
      padding-bottom: 10px;
    }
  }
  &button {
    padding: 5px;
    border-radius: 5px;
    background-color: #f5f4f4;
  }
  
}


/* exercise 7*/
.testimonial {
  display: flex;  
  &-txt {
    display: flex;
    flex-direction: column;
  }
}

img {
  width: 90%;
  height: auto;
}

