/* link styling */
@mixin links (
    $dec: null, 
    $size: null, 
    $pad: null, 
    $col: null, 
    $bgCol: null) {
        text-decoration: $dec;
        font-size: $size;
        padding: $pad;
        color: $col;
        background-color: $bgCol;
    }

//Standard links*********************

a.std-link {
    &:link {
        @include links(none, $pad: 5px, $col: #303234)
    } 
    &:visited {
        @include links(none, $pad: 5px, $col: #86AAD3)
    }   
    &:hover {
        @include links(none, $pad: 5px, $col: #ffffff, $bgCol: #303234)
    }
    &:active {
        @include links(none, $pad: 5px, $col: #0F171F, $bgCol: #819FC1)
    }
}
